<!doctype html>
<html>
   <%= erb :head_tag %>
   <body>
      <div id="cont">
         <%= erb :header %>

         <div id="saved">
            <p>
            Your short link is at:
            </p>

            <input type="text" class="link" value="http://urlgim.me<%= entry.link %>" />

            <p>
            Stats for this link can be found at: <br />
            <a href="<%= entry.statlink %>">http://urlgim.me<%= entry.statlink %></a>

            
         </div>

         <%= erb :footer %>
      </div>
   </body>
</html>
