<!doctype html>
<html>
   <%= erb :head_tag %>
   <body>
      <div id="cont">
         <%= erb :header %>

         <h1>Stats for <%= entry.urlhash %></h1>

         <p>
         Date Submitted: <%= entry.date %>
         </p>

         <p>
         Visits: <%= entry.visits %>
         </p>

         <p>
         Original URL: <%= entry.url %>
         </p>

         <%= erb :footer %>
      </div>
   </body>
</html>
