<!doctype html>
<html>
   <%= erb :head_tag %>
   <body>
      <div id="cont">
         <%= erb :header %>

         <h2>Submitted Urls</h2>
         <ul>
            <% entries.each do |item| %>
               <li><a href="<%= item.link %>"><%= item.urlhash %></a> : <%= item.url %> : <%= item.visits %></li>
            <% end %>
         </ul>

         <div id="homelink">
            <a href="/">Head home...</a>
         </div>

         <%= erb :footer %>
      </div>
   </body>
</html>
